node_modules
**/node_modules
.pnpm-store
.pnpm-debug.log*

.turbo
**/.turbo


.next
**/.next
out/
**/out/

coverage
**/coverage

logs
*.log

.DS_Store
.vscode/
.idea/

.git
**/.git

*.tgz
*.zip
*.tar.gz
tmp/
temp/

.cache
**/.cache
.eslintcache
*.tsbuildinfo

.env
.env.*
.env.local
.env.production
.env.development